@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body {
  max-width: 100%;
  max-height: 100%;
}
ul > li {
  list-style-type: none;
}

/* header */
header {
  max-width: 100%;
  max-height: 20%;
  padding: 12px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
.logo {
  padding: 7px 12px;
  border-radius: 8px;
  background-color: #185efd;
}
.logo > h1 {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

/* navlist */
.nav-list > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.nav-list > ul > li > a {
  color: #3e4958;
}
.nav-list > ul > li > a:hover {
  color: blue;
}
.nav-list > ul > li {
  position: relative;
}
.nav-list > ul > li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: blue;
  transition: all 0.6s ease;
}
.nav-list > ul > li:hover::before {
  width: 100%;
  color: blue;
}

/* search bar */
.search-bar {
  width: 30%;
  padding: 5px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease;
}
.search-bar:focus-within{
    border: 1px solid gray;
    box-shadow: 2px 2px 2px rgb(153, 143, 143),-2px 2px 2px gray,2px -2px 2px gray,-2px -2px 2px gray;
}
.search-bar > input {
  width: 90%;
  font-size: 16px;
  border: transparent;
  outline: none;
}
.search-bar > div {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}
.search-bar > div > .bi-search {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

/* toggle theme & cart */
.toggleTheme-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.toggleTheme-cart>div{
    padding: 7px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.toggleTheme-cart>div:hover{
    background-color: #e9e3e3;
}
.toggleTheme-cart > .bi-moon,
.bi-cart {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid red;
}
